/**
 * General styles
 */
body {
    font-family: Arial, sans-serif;
    margin: 16px;
    width: 300px;
}

/**
 * Button styles
 */
button {
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #4CAF50; /* Green background for buttons */
}

button:hover {
    opacity: 0.8;
}

/**
 * 'Mark This Tab' button specific styles
 */
button#markTabButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 7px 7px;
    font-size: 12px;
}

button#markTabButton img {
    height: 16px;
    width: 16px;
}

/**
 * Dropdown and input field styles
 */
#slotSelect, #urlDisplay {
    width: 100%;
    margin-bottom: 4px;
}

/**
 * Shortcut list styles
 */
#shortcutList {
    margin-top: 10px;
}

.shortcut-item {
    background-color: #f0f0f0;
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 4px;
    word-break: break-all;
}

.shortcut-item a {
    color: #0645ad;
    text-decoration: none;
}

.shortcut-item a:hover {
    text-decoration: underline;
}

/**
 * Remove button styles
 */
.remove-button {
    color: #f44336; /* Red color for remove button text */
    background-color: transparent;
    padding: 0;
    margin-left: 10px;
    cursor: pointer;
}

.remove-button:hover {
    background-color: #dc3545; /* Red color for removal action */
    color: white; /* White text on hover */
    border-radius: 50%; /* Circular background on hover */
}

/**
 * Guide and support text styles
 */
#supportText {
    background-color: #f8f9fa;
    border-left: 3px solid #007bff;
    padding: 10px;
    font-size: 0.9em;
    margin-top: 20px;
    text-align: center;
}

/**
 * Coffee link styles
 */
.coffee-link {
    color: #ff6f00;
    font-weight: bold;
    text-decoration: none;
}

.coffee-link:hover {
    text-decoration: underline;
}
